/* external css

/*selector : h1, p */
/* h1 {
    background-color: green;
    color: white;
}
p {
} */

/* #title {
    background-color:grey;
}

.title {
    background-color: green;
}

.title {
    color: white;
}


.container h1{
    color: yellow
} */ */